/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

:root{
    --softGray: #F9F9F9;
    --mediumGray: #EAEAEA;
    --hardGray: #B1B1B1;
    --notify:#53BDEB;
}
/* GENERAL */

img {
    border-radius: 50%;
    width: 40px;
    margin: 0 15px;
}

.icon-user i {
    color: #B1B1B1;
    margin-right: 15px;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(240,242,245);
    background: linear-gradient(0deg, rgba(240,242,245,1) 85%, rgba(0,168,132,1) 85%);
}

i {
    cursor: pointer;
}
  
.container, .dropdown-menu {
    -webkit-box-shadow: 0px 5px 20px 0px var(--hardGray); 
    box-shadow: 0px 5px 20px 0px var(--hardGray);
}

.info-user .last-message, .last-access {
    font-size: 0.8em;
    color: var(--hardGray);
}

.top-bar i:hover, .footer-bar i:hover, h6 i {
    color: #34B7F1;  
} 
  
/* ASIDE */

.top-bar {
    height: 60px;
    background-color: var(--softGray);
}

.notify {
    background-color: var(--notify);
    height: 80px;
    cursor: pointer;
}
  
.notify > i:first-child {

    background-color: #FFFFFF;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    color: var(--notify);
}

.notify .notify-info > * {
    font-size: 0.9em;
    margin: 0 10px;
}

.notify .notify-info div:first-child{
    font-weight: 600;
}

.notify .notify-info a:hover{
    text-decoration: underline;
}
  
.sidebar .search-bar {
    background-color: var(--softGray);
    height: 50px;
}

.sidebar .search-bar input {
    padding: 10px 15px;
    width: 100%;
    border: none;
    margin-right: 5px;
    color: var(--hardGray);
    font-weight: 600;
    font-size: 0.8em;
}
  
.sidebar .search-bar i {
    padding: 10px 15px;
    margin-left: 5px;
    background-color: #FFFFFF;
    color: var(--hardGray);
}
  
.contact-list {
    overflow-y: scroll;
    background-color: #FFFFFF;
    height: 570px;
}
  
.contact-list div:hover, .active {
    background-color: var(--softGray);
}

.contact-container {
    border-bottom: 2px solid var(--softGray) ;
    width: 100%;
    padding: 20px 5px;
    cursor: pointer;
}

.info-user{
    margin-left: 10px;
    font-weight: 600;
    font-size: 0.8em;
}

.last-message-time {
    font-size: 0.7em;
    color: var(--hardGray);
    margin-left: 5px;
    justify-content: flex-end;
}

/* MAIN */

.main-chat {
    height: 640px;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}
  
.main-chat .baloon {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 10px;
    min-width: 10%;
    max-width: 50%;
    margin-bottom: 20px;
    display: flex;
}

.baloon p {
    word-wrap: break-word;
    white-space: pre-wrap;
    display: flex;
    flex-wrap: wrap;
}

.sent {
    background-color: #D9FDD3;
    border-radius: 10px 0 10px 10px;
    align-self: flex-end;
}
 
.received {
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 0;
    align-self: flex-start;
}

h6 {
    font-size: 0.6em;
    color: var(--hardGray);
}

.footer-bar {
    height: 60px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
}
  
.footer-bar i{
    color: var(--hardGray);
    font-size: 1.3rem;
}
  
.footer-bar input {
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
}

.dropdown-toggle:after {
    content: none
}